<section>
    <h1>Sensors</h1>
          <div id="chart"></div>


    <small>{{data.time}}</small>
    <section>
      <h2>Lisa</h2>
      <p>led: {{data.lisa.led}}</p>
      <p>temperature: {{data.lisa.value1}}  C&ordm;</p>
      <p>light: {{data.lisa.value2}}</p>
    </section>
    <section>
      <h2>Senny</h2>
      <p>led: {{data.senny.led}}</p>
      <p>temperature: {{data.senny.value1}}  C&ordm;</p>
      <p>light: {{data.senny.value2}}</p>
    </section>
    <section>
      <h2>Matthias</h2>

      <p>led: {{data.matthias.led}}</p>
      <p>temperature: {{data.matthias.value1}}  C&ordm;</p>
      <p>light: {{data.matthias.value2}}</p>
    </section>
</section>
